:root {
  --var-color-grey: #898989;
}

body {
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Helvetica;
  overflow-y: scroll;
}

text {
  font-family: Helvetica;
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--var-color-grey);
  shape-rendering: crispEdges;
}

.x.axis {
  font-size: 15px;
}

.y.axis {
  font-size: 12px;
}

#chart-container {
  display: inline-block;
}

#selectors {
  display: inline;
  margin: 50;
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
